@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<article class="row">
    <section class="d-flex justify-content-center align-items-center align-content-center p-5 border rounded">
        <a class="btn btn-outline-primary" href="/GetData">GetData</a>
        <a class="btn btn-outline-danger" href="/GetFakeData">GetFakeData</a>
    </section>
</article>